<a href="https://colab.research.google.com/github/FKz11/NLP/blob/main/lesson_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lesson-1

## Задача:

Осуществим предобработку данных с Твиттера, чтобы отчищенный данные в дальнейшем использовать для задачи классификации. Данный датасет содержит негативные (label = 1) и нейтральные (label = 0) высказывания.
Для работы объединим train_df и test_df.

Задания:

1) Удалим @user из всех твитов с помощью паттерна "@[\w]*". Для этого создадим функцию: 
 - для того, чтобы найти все вхождения паттерна в тексте, необходимо использовать re.findall(pattern, input_txt)
 - для для замены @user на пробел, необходимо использовать re.sub()

2) Изменим регистр твитов на нижний с помощью .lower().

3) Заменим сокращения с апострофами (пример: ain't, can't) на пробел, используя apostrophe_dict. Для этого необходимо сделать функцию: для каждого слова в тексте проверить (for word in text.split()), если слово есть в словаре apostrophe_dict в качестве ключа (сокращенного слова), то заменить ключ на значение (полную версию слова).

4) Заменим сокращения на их полные формы, используя short_word_dict. Для этого воспользуемся функцией, используемой в предыдущем пункте.

5) Заменим эмотиконы (пример: ":)" = "happy") на пробелы, используя emoticon_dict. Для этого воспользуемся функцией, используемой в предыдущем пункте.

6) Заменим пунктуацию на пробелы, используя re.sub() и паттерн r'[^\w\s]'.

7) Заменим спец. символы на пробелы, используя re.sub() и паттерн r'[^a-zA-Z0-9]'.

8) Заменим числа на пробелы, используя re.sub() и паттерн r'[^a-zA-Z]'.

9) Удалим из текста слова длиной в 1 символ, используя ' '.join([w for w in x.split() if len(w)>1]).

10) Поделим твиты на токены с помощью nltk.tokenize.word_tokenize, создав новый столбец 'tweet_token'.

11) Удалим стоп-слова из токенов, используя nltk.corpus.stopwords. Создадим столбец 'tweet_token_filtered' без стоп-слов.

12) Применим стемминг к токенам с помощью nltk.stem.PorterStemmer. Создадим столбец 'tweet_stemmed' после применения стемминга.

13) Применим лемматизацию к токенам с помощью nltk.stem.wordnet.WordNetLemmatizer. Создадим столбец 'tweet_lemmatized' после применения лемматизации.

14) Сохраним результат предобработки в pickle-файл.

## Подготовка:

### Словари замен

In [1]:
apostrophe_dict = {
"ain't": "am not / are not",
"aren't": "are not / am not",
"can't": "cannot",
"can't've": "cannot have",
"'cause": "because",
"could've": "could have",
"couldn't": "could not",
"couldn't've": "could not have",
"didn't": "did not",
"doesn't": "does not",
"don't": "do not",
"hadn't": "had not",
"hadn't've": "had not have",
"hasn't": "has not",
"haven't": "have not",
"he'd": "he had / he would",
"he'd've": "he would have",
"he'll": "he shall / he will",
"he'll've": "he shall have / he will have",
"he's": "he has / he is",
"how'd": "how did",
"how'd'y": "how do you",
"how'll": "how will",
"how's": "how has / how is",
"i'd": "I had / I would",
"i'd've": "I would have",
"i'll": "I shall / I will",
"i'll've": "I shall have / I will have",
"i'm": "I am",
"i've": "I have",
"isn't": "is not",
"it'd": "it had / it would",
"it'd've": "it would have",
"it'll": "it shall / it will",
"it'll've": "it shall have / it will have",
"it's": "it has / it is",
"let's": "let us",
"ma'am": "madam",
"mayn't": "may not",
"might've": "might have",
"mightn't": "might not",
"mightn't've": "might not have",
"must've": "must have",
"mustn't": "must not",
"mustn't've": "must not have",
"needn't": "need not",
"needn't've": "need not have",
"o'clock": "of the clock",
"oughtn't": "ought not",
"oughtn't've": "ought not have",
"shan't": "shall not",
"sha'n't": "shall not",
"shan't've": "shall not have",
"she'd": "she had / she would",
"she'd've": "she would have",
"she'll": "she shall / she will",
"she'll've": "she shall have / she will have",
"she's": "she has / she is",
"should've": "should have",
"shouldn't": "should not",
"shouldn't've": "should not have",
"so've": "so have",
"so's": "so as / so is",
"that'd": "that would / that had",
"that'd've": "that would have",
"that's": "that has / that is",
"there'd": "there had / there would",
"there'd've": "there would have",
"there's": "there has / there is",
"they'd": "they had / they would",
"they'd've": "they would have",
"they'll": "they shall / they will",
"they'll've": "they shall have / they will have",
"they're": "they are",
"they've": "they have",
"to've": "to have",
"wasn't": "was not",
"we'd": "we had / we would",
"we'd've": "we would have",
"we'll": "we will",
"we'll've": "we will have",
"we're": "we are",
"we've": "we have",
"weren't": "were not",
"what'll": "what shall / what will",
"what'll've": "what shall have / what will have",
"what're": "what are",
"what's": "what has / what is",
"what've": "what have",
"when's": "when has / when is",
"when've": "when have",
"where'd": "where did",
"where's": "where has / where is",
"where've": "where have",
"who'll": "who shall / who will",
"who'll've": "who shall have / who will have",
"who's": "who has / who is",
"who've": "who have",
"why's": "why has / why is",
"why've": "why have",
"will've": "will have",
"won't": "will not",
"won't've": "will not have",
"would've": "would have",
"wouldn't": "would not",
"wouldn't've": "would not have",
"y'all": "you all",
"y'all'd": "you all would",
"y'all'd've": "you all would have",
"y'all're": "you all are",
"y'all've": "you all have",
"you'd": "you had / you would",
"you'd've": "you would have",
"you'll": "you shall / you will",
"you'll've": "you shall have / you will have",
"you're": "you are",
"you've": "you have"
}



short_word_dict = {
"121": "one to one",
"a/s/l": "age, sex, location",
"adn": "any day now",
"afaik": "as far as I know",
"afk": "away from keyboard",
"aight": "alright",
"alol": "actually laughing out loud",
"b4": "before",
"b4n": "bye for now",
"bak": "back at the keyboard",
"bf": "boyfriend",
"bff": "best friends forever",
"bfn": "bye for now",
"bg": "big grin",
"bta": "but then again",
"btw": "by the way",
"cid": "crying in disgrace",
"cnp": "continued in my next post",
"cp": "chat post",
"cu": "see you",
"cul": "see you later",
"cul8r": "see you later",
"cya": "bye",
"cyo": "see you online",
"dbau": "doing business as usual",
"fud": "fear, uncertainty, and doubt",
"fwiw": "for what it's worth",
"fyi": "for your information",
"g": "grin",
"g2g": "got to go",
"ga": "go ahead",
"gal": "get a life",
"gf": "girlfriend",
"gfn": "gone for now",
"gmbo": "giggling my butt off",
"gmta": "great minds think alike",
"h8": "hate",
"hagn": "have a good night",
"hdop": "help delete online predators",
"hhis": "hanging head in shame",
"iac": "in any case",
"ianal": "I am not a lawyer",
"ic": "I see",
"idk": "I don't know",
"imao": "in my arrogant opinion",
"imnsho": "in my not so humble opinion",
"imo": "in my opinion",
"iow": "in other words",
"ipn": "I’m posting naked",
"irl": "in real life",
"jk": "just kidding",
"l8r": "later",
"ld": "later, dude",
"ldr": "long distance relationship",
"llta": "lots and lots of thunderous applause",
"lmao": "laugh my ass off",
"lmirl": "let's meet in real life",
"lol": "laugh out loud",
"ltr": "longterm relationship",
"lulab": "love you like a brother",
"lulas": "love you like a sister",
"luv": "love",
"m/f": "male or female",
"m8": "mate",
"milf": "mother I would like to fuck",
"oll": "online love",
"omg": "oh my god",
"otoh": "on the other hand",
"pir": "parent in room",
"ppl": "people",
"r": "are",
"rofl": "roll on the floor laughing",
"rpg": "role playing games",
"ru": "are you",
"shid": "slaps head in disgust",
"somy": "sick of me yet",
"sot": "short of time",
"thanx": "thanks",
"thx": "thanks",
"ttyl": "talk to you later",
"u": "you",
"ur": "you are",
"uw": "you’re welcome",
"wb": "welcome back",
"wfm": "works for me",
"wibni": "wouldn't it be nice if",
"wtf": "what the fuck",
"wtg": "way to go",
"wtgp": "want to go private",
"ym": "young man",
"gr8": "great"
}


emoticon_dict = {
":)": "happy",
":‑)": "happy",
":-]": "happy",
":-3": "happy",
":->": "happy",
"8-)": "happy",
":-}": "happy",
":o)": "happy",
":c)": "happy",
":^)": "happy",
"=]": "happy",
"=)": "happy",
"<3": "happy",
":-(": "sad",
":(": "sad",
":c": "sad",
":<": "sad",
":[": "sad",
">:[": "sad",
":{": "sad",
">:(": "sad",
":-c": "sad",
":-< ": "sad",
":-[": "sad",
":-||": "sad",
":/": "sad" # -------------- Добавил частый эмотикон --------------
}

### Библиотеки

In [2]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
import seaborn as sns
import nltk
import warnings 
warnings.filterwarnings("ignore", category=DeprecationWarning)
import os

### Данные

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
train_df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/train_tweets.csv')
train_df.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [5]:
test_df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/test_tweets.csv')
test_df.head()

      id                                              tweet
0  31963  #studiolife #aislife #requires #passion #dedic...
1  31964   @user #white #supremacists want everyone to s...
2  31965  safe ways to heal your #acne!!    #altwaystohe...
3  31966  is the hp and the cursed child book up for res...
4  31967    3rd #bihday to my amazing, hilarious #nephew...

In [6]:
combine_df = train_df.append(test_df, ignore_index = True, sort = False)
combine_df.head()

   id  label                                              tweet
0   1    0.0   @user when a father is dysfunctional and is s...
1   2    0.0  @user @user thanks for #lyft credit i can't us...
2   3    0.0                                bihday your majesty
3   4    0.0  #model   i love u take with u all the time in ...
4   5    0.0             factsguide: society now    #motivation

In [7]:
print(combine_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49159 entries, 0 to 49158
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      49159 non-null  int64
 1   label   31962 non-null  float64
 2   tweet   49159 non-null  object
dtypes: float64(1), int64(1), object(1)
memory usage: 1.1+ MB
None

## Решение:

1). Удалим @user из всех твитов с помощью паттерна "@[\w]*". Для этого создадим функцию: 
 - для того, чтобы найти все вхождения паттерна в тексте, необходимо использовать re.findall(pattern, input_txt)
 - для для замены @user на пробел, необходимо использовать re.sub()

In [8]:
patern = "@[\w]*"

In [9]:
combine_df['tweet'][49053]

' @user   #belated #bihday #mom #love #you @ truganina in melbourne '

In [10]:
re.findall(patern, combine_df['tweet'][49053])

['@user', '@']

Если использовать предложенный патерн, то помимо '@user', re.findall так же находит отдельный знак '@', что для обработки текста неплохо, но не по заданию.

In [11]:
pattern = "@user"

In [12]:
combine_df['tweet'].apply(lambda text: re.findall(pattern, text)).head()

0           [@user]
1    [@user, @user]
2                []
3                []
4                []
Name: tweet, dtype: object

In [13]:
repl = ' '

In [14]:
combine_df['tweet'] = combine_df['tweet'].apply(lambda text: re.sub(pattern, repl, text))
combine_df['tweet'].head()

0       when a father is dysfunctional and is so se...
1        thanks for #lyft credit i can't use cause ...
2                                  bihday your majesty
3    #model   i love u take with u all the time in ...
4               factsguide: society now    #motivation
Name: tweet, dtype: object

2). Изменим регистр твитов на нижний с помощью .lower()

In [15]:
combine_df['tweet'] = combine_df['tweet'].apply(lambda text: text.lower())
combine_df['tweet'].head()

0       when a father is dysfunctional and is so se...
1        thanks for #lyft credit i can't use cause ...
2                                  bihday your majesty
3    #model   i love u take with u all the time in ...
4               factsguide: society now    #motivation
Name: tweet, dtype: object

## Уберём '.' и ',' так как при text.split() они будут липнуть к словам и замены не сработают

Пример:

In [16]:
text = combine_df['tweet'][7508]
text

"      good game &amp; well played girls :). was not sã¤pinã¤'s day today :/  "

In [17]:
' '.join([emoticon_dict.get(word, word) for word in text.split()])

"good game &amp; well played girls :). was not sã¤pinã¤'s day today sad"

In [18]:
text = re.sub("\.|,", ' ', text)
text

"      good game &amp; well played girls :)  was not sã¤pinã¤'s day today :/  "

In [19]:
' '.join([emoticon_dict.get(word, word) for word in text.split()])

"good game &amp; well played girls happy was not sã¤pinã¤'s day today sad"

Уберём '.' и ',':

In [20]:
pattern = "\.|,"

In [21]:
repl = ' '

In [22]:
combine_df['tweet'] = combine_df['tweet'].apply(lambda text: re.sub(pattern, repl, text))
combine_df['tweet'].head()

0       when a father is dysfunctional and is so se...
1        thanks for #lyft credit i can't use cause ...
2                                  bihday your majesty
3    #model   i love u take with u all the time in ...
4               factsguide: society now    #motivation
Name: tweet, dtype: object

3). Заменим сокращения с апострофами (пример: ain't, can't) на пробел, используя apostrophe_dict. Для этого необходимо сделать функцию: для каждого слова в тексте проверить (for word in text.split()), если слово есть в словаре apostrophe_dict в качестве ключа (сокращенного слова), то заменить ключ на значение (полную версию слова).

In [23]:
combine_df['tweet'] = combine_df['tweet'].apply(lambda text: [apostrophe_dict.get(word, word) for word in text.split()])
combine_df['tweet'].head()

0    [when, a, father, is, dysfunctional, and, is, ...
1    [thanks, for, #lyft, credit, i, cannot, use, c...
2                              [bihday, your, majesty]
3    [#model, i, love, u, take, with, u, all, the, ...
4             [factsguide:, society, now, #motivation]
Name: tweet, dtype: object

4). Заменим сокращения на их полные формы, используя short_word_dict. Для этого воспользуемся функцией, используемой в предыдущем пункте.

In [24]:
combine_df['tweet'] = combine_df['tweet'].apply(lambda text_list: [short_word_dict.get(word, word) for word in text_list])
combine_df['tweet'].head()

0    [when, a, father, is, dysfunctional, and, is, ...
1    [thanks, for, #lyft, credit, i, cannot, use, c...
2                              [bihday, your, majesty]
3    [#model, i, love, you, take, with, you, all, t...
4             [factsguide:, society, now, #motivation]
Name: tweet, dtype: object

5). Заменим эмотиконы (пример: ":)" = "happy") на пробелы, используя emoticon_dict. Для этого воспользуемся функцией, используемой в предыдущем пункте.

In [25]:
combine_df['tweet'] = combine_df['tweet'].apply(lambda text_list: [emoticon_dict.get(word, word) for word in text_list])
combine_df['tweet'].head()

0    [when, a, father, is, dysfunctional, and, is, ...
1    [thanks, for, #lyft, credit, i, cannot, use, c...
2                              [bihday, your, majesty]
3    [#model, i, love, you, take, with, you, all, t...
4             [factsguide:, society, now, #motivation]
Name: tweet, dtype: object

6). Заменим пунктуацию на пробелы, используя re.sub() и паттерн r'[^\w\s]'

In [26]:
pattern = "[^\w\s]"

In [27]:
repl = ' '

In [28]:
combine_df['tweet'] = combine_df['tweet'].apply(lambda text_list: re.sub(pattern, repl, ' '.join(text_list)))
combine_df['tweet'].head()

0    when a father is dysfunctional and is so selfi...
1    thanks for  lyft credit i cannot use cause the...
2                                  bihday your majesty
3     model i love you take with you all the time i...
4                  factsguide  society now  motivation
Name: tweet, dtype: object

Причём цифры остаются, так как для них подходит паттерн: '\w'.

7). Заменим спец. символы на пробелы, используя re.sub() и паттерн r'[^a-zA-Z0-9]'

In [29]:
combine_df['tweet'][9]

'welcome here   I am it has   it is so  gr8  '

Хотя мы и приводили текст в нижний регистр, но мы это делали до замен, замена i'm вернула I am, из-за этого указывать в патерне A-Z есть смысл.

In [30]:
pattern = "[^a-zA-Z0-9]"

In [31]:
repl = ' '

In [32]:
combine_df['tweet'] = combine_df['tweet'].apply(lambda text: re.sub(pattern, repl, text))
combine_df['tweet'].head()

0    when a father is dysfunctional and is so selfi...
1    thanks for  lyft credit i cannot use cause the...
2                                  bihday your majesty
3     model i love you take with you all the time i...
4                  factsguide  society now  motivation
Name: tweet, dtype: object

8). Заменим числа на пробелы, используя re.sub() и паттерн r'[^a-zA-Z]'

In [33]:
pattern = "[^a-zA-Z]"

In [34]:
repl = ' '

In [35]:
combine_df['tweet'] = combine_df['tweet'].apply(lambda text: re.sub(pattern, repl, text))
combine_df['tweet'].head()

0    when a father is dysfunctional and is so selfi...
1    thanks for  lyft credit i cannot use cause the...
2                                  bihday your majesty
3     model i love you take with you all the time i...
4                  factsguide  society now  motivation
Name: tweet, dtype: object

Можно было это сделать и на предыдущем шаге

9). Удалим из текста слова длиной в 1 символ, используя ' '.join([w for w in x.split() if len(w)>1])

In [36]:
threshold = 1

In [37]:
combine_df['tweet'] = combine_df['tweet'].apply(lambda text: ' '.join([word for word in text.split() if len(word)>threshold]))
combine_df['tweet'].head()

0    when father is dysfunctional and is so selfish...
1    thanks for lyft credit cannot use cause they d...
2                                  bihday your majesty
3      model love you take with you all the time in ur
4                    factsguide society now motivation
Name: tweet, dtype: object

Но мы при этом удалили 'i', хотя это не информативное слово, а скорее stopword

10). Поделим твиты на токены с помощью nltk.tokenize.word_tokenize, создав новый столбец 'tweet_token'.

In [38]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [39]:
combine_df['tweet_token'] = combine_df['tweet'].apply(lambda text: nltk.tokenize.word_tokenize(text))
combine_df['tweet_token'].head()

0    [when, father, is, dysfunctional, and, is, so,...
1    [thanks, for, lyft, credit, can, not, use, cau...
2                              [bihday, your, majesty]
3    [model, love, you, take, with, you, all, the, ...
4               [factsguide, society, now, motivation]
Name: tweet_token, dtype: object

11). Удалим стоп-слова из токенов, используя nltk.corpus.stopwords. Создадим столбец 'tweet_token_filtered' без стоп-слов.

In [40]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [41]:
stopwords = nltk.corpus.stopwords.words("english")
stopwords[:5]

['i', 'me', 'my', 'myself', 'we']

In [42]:
combine_df['tweet_token_filtered'] = combine_df['tweet_token'].apply(lambda tokens: [word for word in tokens if word not in stopwords])
combine_df['tweet_token_filtered'].head()

0    [father, dysfunctional, selfish, drags, kids, ...
1    [thanks, lyft, credit, use, cause, offer, whee...
2                                    [bihday, majesty]
3                        [model, love, take, time, ur]
4                    [factsguide, society, motivation]
Name: tweet_token_filtered, dtype: object

12). Применим стемминг к токенам с помощью nltk.stem.PorterStemmer. Создадим столбец 'tweet_stemmed' после применения стемминга.

In [43]:
stemmer = nltk.stem.PorterStemmer()

In [44]:
%%time

combine_df['tweet_stemmed'] = combine_df['tweet_token_filtered'].apply(lambda tokens: [stemmer.stem(token) for token in tokens])
combine_df['tweet_stemmed'].head()

CPU times: user 8.17 s, sys: 38.2 ms, total: 8.21 s
Wall time: 8.21 s

0    [father, dysfunct, selfish, drag, kid, dysfunc...
1    [thank, lyft, credit, use, caus, offer, wheelc...
2                                    [bihday, majesti]
3                        [model, love, take, time, ur]
4                          [factsguid, societi, motiv]
Name: tweet_stemmed, dtype: object

13). Применим лемматизацию к токенам с помощью nltk.stem.wordnet.WordNetLemmatizer. Создадим столбец 'tweet_lemmatized' после применения лемматизации.

In [45]:
nltk.download('wordnet')
nltk.download('omw-1.4')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...

True

In [46]:
lemmatizer = nltk.stem.wordnet.WordNetLemmatizer()

In [47]:
%%time

combine_df['tweet_lemmatized'] = combine_df['tweet_token_filtered'].apply(lambda tokens: [lemmatizer.lemmatize(token) for token in tokens])
combine_df['tweet_lemmatized'].head()

CPU times: user 3.13 s, sys: 42.9 ms, total: 3.17 s
Wall time: 3.18 s

0    [father, dysfunctional, selfish, drag, kid, dy...
1    [thanks, lyft, credit, use, cause, offer, whee...
2                                    [bihday, majesty]
3                        [model, love, take, time, ur]
4                    [factsguide, society, motivation]
Name: tweet_lemmatized, dtype: object

14). Сохраним результат предобработки в pickle-файл.

In [48]:
combine_df.head()

,id,label,tweet,tweet_token,tweet_token_filtered,tweet_stemmed,tweet_lemmatized
0,1,0.0,when father is dysfunctional and is so selfish...,"[when, father, is, dysfunctional, and, is, so,...","[father, dysfunctional, selfish, drags, kids, ...","[father, dysfunct, selfish, drag, kid, dysfunc...","[father, dysfunctional, selfish, drag, kid, dy..."
1,2,0.0,thanks for lyft credit cannot use cause they d...,"[thanks, for, lyft, credit, can, not, use, cau...","[thanks, lyft, credit, use, cause, offer, whee...","[thank, lyft, credit, use, caus, offer, wheelc...","[thanks, lyft, credit, use, cause, offer, whee..."
2,3,0.0,bihday your majesty,"[bihday, your, majesty]","[bihday, majesty]","[bihday, majesti]","[bihday, majesty]"
3,4,0.0,model love you take with you all the time in ur,"[model, love, you, take, with, you, all, the, ...","[model, love, take, time, ur]","[model, love, take, time, ur]","[model, love, take, time, ur]"
4,5,0.0,factsguide society now motivation,"[factsguide, society, now, motivation]","[factsguide, society, motivation]","[factsguid, societi, motiv]","[factsguide, society, motivation]"

In [49]:
combine_df.to_pickle("/content/drive/MyDrive/Colab Notebooks/tweet_df.pkl")

Проверка:

In [50]:
combine_df = pd.read_pickle("/content/drive/MyDrive/Colab Notebooks/tweet_df.pkl")  
combine_df.head()

,id,label,tweet,tweet_token,tweet_token_filtered,tweet_stemmed,tweet_lemmatized
0,1,0.0,when father is dysfunctional and is so selfish...,"[when, father, is, dysfunctional, and, is, so,...","[father, dysfunctional, selfish, drags, kids, ...","[father, dysfunct, selfish, drag, kid, dysfunc...","[father, dysfunctional, selfish, drag, kid, dy..."
1,2,0.0,thanks for lyft credit cannot use cause they d...,"[thanks, for, lyft, credit, can, not, use, cau...","[thanks, lyft, credit, use, cause, offer, whee...","[thank, lyft, credit, use, caus, offer, wheelc...","[thanks, lyft, credit, use, cause, offer, whee..."
2,3,0.0,bihday your majesty,"[bihday, your, majesty]","[bihday, majesty]","[bihday, majesti]","[bihday, majesty]"
3,4,0.0,model love you take with you all the time in ur,"[model, love, you, take, with, you, all, the, ...","[model, love, take, time, ur]","[model, love, take, time, ur]","[model, love, take, time, ur]"
4,5,0.0,factsguide society now motivation,"[factsguide, society, now, motivation]","[factsguide, society, motivation]","[factsguid, societi, motiv]","[factsguide, society, motivation]"